/************************/
/* Reset Browser Styles */
/************************/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1.2;
}

ol {
    padding-left: 1.4em;
    list-style: decimal;
}

ul {
    padding-left: 1.4em;
    list-style: square;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Box Sizing */
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Clear Fix */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}
/************************/
/* END OF Reset Browser Styles */
/************************/

/* Html + body
******************************/

html{
    background-color: #f5f5f5;
}

body {
    font-family: Roboto, arial, sans-serif;
    font-weight: 300;
}

#container{
    width: 1200px;
    margin: auto;
    padding: 30px;
}

.item {
    margin-bottom: 48px;
    padding: 30px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.bg-white {
    background: #fff;
}

.info {
    padding-top: 50px;
    padding-bottom: 80px;
    background: #2196F3;
    color: #fff;
}

.drag-area{
    margin-top: 10px;
    padding: 15px 0;
    min-height: 106px;
    background-color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.drag-area ul{
    list-style: none;
}

.drag-area ul li {
    float: left;
    width: 75px;
    height: 75px;
    padding: 1%;
    margin-right: 2%;
    background-color: #E91E63;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
}

.drag-area ul li.empty-block {
    background-color: #4f4f4f;
    box-shadow: 0 0 0;
}
.drag-area ul li.staticBox {
    box-shadow: 0 0 0;
}
.drag-area ul li.empty-block.hovered {
    background-color: #7a7a7a;
}

.button{
    width: 200px;
    height: 50px;
    margin-top: 25px;
    margin-right: 25px;
    display: inline-block;
}

#btnReset{
    margin-top:10px;

}

#floatleft{
    float: left;
}

#options{
    margin-top: 25px;
}

#details{
    margin-top: 5px;
}

#highscore{
    margin-top: 25px;
    font-size: 1.2em;
}

.stats th {
    min-width: 150px;
    text-align: left;
}

/* Headings
******************************/

h1 {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 500;
}

@media (max-width:1250px) {
    #container{
        width: 800px;
    }
}

@media (max-width:850px) {
    #container{
        width: 600px;
    }
}

@media (max-width:650px) {
    #container{
        width: 100%;
    }
}