/************************/
/* Reset Browser Styles */
/************************/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1.2;
}

ol {
    padding-left: 1.4em;
    list-style: decimal;
}

ul {
    padding-left: 1.4em;
    list-style: square;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Box Sizing */
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Clear Fix */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}
/************************/
/* END OF Reset Browser Styles */
/************************/
html{
    background-color: #216078;
}

#container{
    margin: 30px;
}

.drag-area{
    margin-top: 10px;
    border: 1px gray solid;
    padding: 15px;
    min-height: 106px;
    background-color: #ababab;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.drag-area ul{
    list-style: none;
}

.drag-area ul li {
    border: 1px black solid;
    float: left;
    width: 75px;
    height: 75px;
    padding: 1%;
    margin-right: 2%;
    background-color: #e3e3e3;
    box-shadow: 2px 2px 5px;
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.drag-area ul li.empty-block {
    background-color: #4f4f4f;
    box-shadow: 0 0 0;
}
.drag-area ul li.staticBox {
    box-shadow: 0 0 0;
}
.drag-area ul li.empty-block.hovered {
    background-color: #7a7a7a;
}

#btnSubmit{
    width: 200px;
    height: 100px;
    margin-top: 25px;
    margin-right: 25px;
    float: left;
}

#options{
    margin-top: 25px;
}

#details{
    margin-top: 25px;
}